<!DOCTYPE html>
<html>
  <body>
    <h1>Live streaming</h1>

    <div>
      <video id="videoElement" width="50%" autoplay></video>
      <div id="recordedVideoContainer"></div>
    </div>

    <div id="movementStatus"></div>
    <div id="violenceStatus"></div>

    <button onclick="startRecording()">Record 5 seconds of Video</button>

    <script>
      var video = document.getElementById("videoElement");
      var recordedVideoContainer = document.getElementById(
        "recordedVideoContainer"
      );
      var movementStatus = document.getElementById("movementStatus");
      var violenceStatus = document.getElementById("violenceStatus");
      var recording = false;
      var recordedChunks = [];
      var mediaRecorder;
      var constraints = { audio: true, video: true };

      function requestCameraAccess() {
        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
          navigator.mediaDevices
            .getUserMedia(constraints)
            .then(function (mediaStream) {
              video.srcObject = mediaStream;
              video.onloadedmetadata = function (e) {
                video.play();
              };
              enableRecording(); // Start capturing frames once the camera access is granted
            })
            .catch(function (err) {
              console.log(err.name + ": " + err.message);
            });
        } else {
          console.log("getUserMedia is not supported in this browser.");
          displayBrowserNotSupported();
        }
      }

      function displayBrowserNotSupported() {
        var movementStatus = document.getElementById("movementStatus");
        movementStatus.textContent =
          "Camera access is not supported in this browser. Please switch to a supported browser to use this feature.";
      }

      function enableRecording() {
        var canvas = document.createElement("canvas");
        var context = canvas.getContext("2d");

        function captureFrames() {
          if (recording) {
            context.drawImage(video, 0, 0, canvas.width, canvas.height);
            var imageData = context.getImageData(
              0,
              0,
              canvas.width,
              canvas.height
            );

            // Convert image data to base64 string
            var base64Image = canvas.toDataURL("image/png");
            sendImageToBackend(base64Image);
          }

          requestAnimationFrame(captureFrames);
        }

        requestAnimationFrame(captureFrames);
      }

      function startRecording() {
        if (!recording) {
          recordedChunks = [];
          mediaRecorder = new MediaRecorder(video.srcObject, {
            mimeType: "video/webm; codecs=vp9",
          });
          mediaRecorder.ondataavailable = handleDataAvailable;
          mediaRecorder.start();
          setTimeout(stopRecording, 5000);
        }
        recording = true;
      }

      function handleDataAvailable(event) {
        if (event.data.size > 0) {
          recordedChunks.push(event.data);
        }
      }

      function stopRecording() {
        if (recording) {
          recording = false;
          mediaRecorder.stop();

          // Wait for the 'stop' event to ensure all data has been processed
          mediaRecorder.addEventListener("stop", function () {
            sendVideoToBackend();
          });
        }
      }

      function sendVideoToBackend() {
        var blob = new Blob(recordedChunks, { type: "video/webm" });
        var url = URL.createObjectURL(blob);
        var formData = new FormData();
        formData.append("video", blob, "recorded_video.webm");

        var endpointURL = "http://127.0.0.1:8000/save-video";

        fetch(endpointURL, {
          method: "POST",
          body: formData,
        })
          .then(function (response) {
            return response.json();
          })
          .then(function (data) {
            console.log("Video saved:", data);
          })
          .catch(function (error) {
            console.log("Error saving video:", error);
          });
      }

      requestCameraAccess();
    </script>
  </body>
</html>
